body{
    color: #7D7987;
    font-family: 'Inter', sans-serif;
}
/*Cabeçalho*/
header{
    display: flex;
    justify-content: space-between;
}
.treineme{
    display: flex;
    align-items: center;
}
.menu{
    background-color: black;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    opacity: 0.5;
}
.azul{
    color: #89C5CC;
    font-family: 'Inter', sans-serif;
}
/*main*/
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.metade1{
    width: 417px;
    height: 434px;
}
h1{
    font-family: 'Mulish', sans-serif; 
    font-size: 49px;
    line-height: 56px;
}
.metade2{
    display: flex;
    width: 417px;
    height: 434px;
    background-color: blanchedalmond;
}
button{
    background-color: rgba(105, 185, 157, 1);
    color: white;
    width: 115px;
    height: 56px;
    border-radius: 4px;
}
/*rodapé*/
.rodapé{
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
}

